*{
   
    box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
   
}
body{
    font-family: 'roboto', sans-serif; /* Un nom de police suivi d'un nom de famille générique */
    min-width: 300px;
    margin:0px;
}
a{
    text-decoration:none;
    color: black;
}
li{
    list-style-type: none;
}

.titre{
	font-family:  Shrikhand, cursive;
    text-align: center;
}
.footer_titre{
    font-family:  Shrikhand, cursive;
}
.recherche {
    background: #f6f6f6;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.localisation {
    box-shadow: inset 0px 2px 5px #cacbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e6e7;
    padding-top: 15px;
    padding-bottom: 15px;
}
.localisation_selection-lieu {
    text-align: center;
    background: none;
    border: none;
    font-weight: bold;
    height: 20px;
}
.fa-solid, .fas {
    color: black;
}
/*.recherche h1,p  {
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
} */
.titre_p h3{
    margin-bottom: -10px;
}
.recherche button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    padding: 10px;
    color: white;
    background: linear-gradient(356deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
   
   
    margin-top: 20px;
}
ol {
    counter-reset: compteListe;
}
ol li::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356DC;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    display: flex;
    margin-top: -2px;
    margin-left: -50px;
}
ol li {
    cursor: pointer;
    background: #f6f6f6;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
    position: relative;
  
    border-radius: 25px;
    height: 80px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 37px;
}
li {
    list-style-type: none;
}
.fa-solid, .fas {
   margin-right:10px;
}
.fonctionnement h2{
    margin-left: 30px;
}
.restaurants {
    background: #f6f6f6;
    padding: 50px 20px 40px 20px;
}
.restaurants_carte-restaurant {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 26px;
    background: white;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    position: relative;
    
}
.restaurants img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 170px;
}
.mot_nouveau{
    color: #008766;
    background: #99E2D0;
    border-radius: 2px;
    position: absolute;
    padding: 6px 0px 6px 11px;
    width: 78px;
    right: 12px;
    top: 14px;
    font-size: 14px;
    font-weight: 600;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 15px 13px;
}
footer {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: #343434;
    
}
footer a{
	color: white;
}
footer .fa-solid{
    color: white;
}
footer ul{
    margin-left: -33px;
}
footer li{
    margin-bottom: 10px;
}

/* Pages restaurant */
 .image_restaurant {
    width: 100%;
    object-fit: cover;
}
.fond_page{
    background: #f6f6f6;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    margin-top: -14%;
    padding-bottom: 60px;
}
.menu_page{
    margin:30px;
    
}
.titre_coeur{
    display: flex;
    padding-top: 30px;
    margin-bottom: -30px;
    justify-content: space-between;
}
.prix{
    font-weight: bold;
}
.nom_plat{
    font-weight: bold;
    position: relative;
    top: 10px;
}
.detail_plat{
    display: flex;
    margin-top: -20px;
    margin-bottom: -10px;
    justify-content: space-between;
}
.titre_menu{
    font-family: Shrikhand, cursive;
    font-size: 25px;
}
.fa-heart{
    position: relative;
    font-size: 30px;
}
.titre2{
    font-weight: normal;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-top: 50px;
    position: relative;
}
.menu_card{
    background-color: white;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 20px;
    margin-bottom: 25px;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
}
.commander_bouton{
    text-align: center;
}
.commander_bouton button{
    border-radius: 30px;
    width: 220px;
    height: 50px;
    padding: 10px;
    color: white;
    margin-top: 40px;
background: linear-gradient(356deg, #9356DC 0%, #FF79DA 100%);
}
@media screen and (min-width: 992px){
	h2 {
    text-align: center;
}
.titre{
    text-align: center;
    margin-left: 700px;
    font-weight: bolder;
    font-style: italic;
}
ol li{
    padding-right: 50px;
}
ol {
    display: flex;
    justify-content: space-around;
}
.fonctionnement h2{
    text-align: left;
    margin-left: 150px;
}
.restaurants h2{
    text-align: left;
    margin-left: 150px;
}
	.rangement_carte-restaurant {
        margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.restaurants_carte-restaurant {
    width: 40%; /* 2 images sur une ligne */
}
footer li{
   
        display: inline-block;
        margin-right: 10px;
      
}
footer {
    display: flex;
    flex-direction : row-reverse;
    padding-right: 50px;
   gap:20px;
}
footer h3{
    padding-left: 50px;
}
}